.banner {
	background-image: url('../images/fondbanner.jpg');
	backgrounf-size: cover;
	background-position: center;
	padding: 150px 0;
	text-align: center;
	}

.banner h1 {
	color: #FC0125;
	font-size: 60px;
	margin: 0;
}

.banner h2 {
	color: #FC0125;
	font-size: 60px;
	font-weight: lighter;
	opacity: 2.5;
	margin-top: 10px;

}